<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改二维码')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-code-edit" th:object="${qrCode}">
			<input id="id" name="id"  type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color: red; ">*</span>打印模板：</label>
				<div class="col-sm-9">
					<select name="printId" class="form-control m-b" disabled>
						<option th:each="print : ${printTemplateList}" th:text="${print.name}" th:value="${print.id}" th:selected="${print.id eq qrCode.printId} "></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color: red; ">*</span>打印数量：</label>
				<div class="col-sm-9">
					<input type="text" class="form-control"  name="count" id="count" th:field="*{count}" readonly required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color: red; ">*</span> 包装重量：</label>
				<div class="col-sm-9">
					<input type="text" class="form-control"  name="weight" id="weight" th:field="*{weight}"  required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color: red; ">*</span>计量单位：</label>
				<div class="col-sm-9">
					<select name="unit" class="form-control m-b" th:disabled="*{unit}">
						<option th:each="dict : ${dictDatas}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${dict.dictValue eq qrCode.unit} "></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-9">
					<textarea id="remark" name="remark" class="form-control" th:field="*{remark}"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "product/code";
	
		$("#form-productLine-edit").validate({
			onkeyup: false,
			rules:{
				count:{
					digits:true
				},
				weight:{
					digits:true
				}
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/edit", $('#form-code-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
