<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('打印模板')" />
    <th:block th:include="include :: print-css" />
</head>
<body>

<layout class="layout hinnn-layout hinnn-layout-has-sider height-100-per" style="background:#fff;">


    <content class="hinnn-layout-content" style="border-left:1px solid #e8e8e8;">
        <div class="container-fluid height-100-per print-content">
            <div class="hinnn-callout hinnn-callout-danger small-callout">
                <form class="form-horizontal m" id="form-print-add">

                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">模板名称：</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="name" id="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">模板状态：</label>
                                <div class="col-sm-9">
                                    <label class="toggle-switch switch-solid">
                                        <input type="checkbox" id="status" checked>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <textarea id="content" name="content" style="display: none" class="form-control"></textarea>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3 col-md-2" style="padding-right:0px;">

                            <div class="rect-printElement-types hiprintEpContainer">
                                <ul class="hiprint-printElement-type">

                                    <li>
                                        <span class="title"><code>拖拽列表</code></span>
                                        <ul>
                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.text" style="">

                                                    <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">文本</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.image" style="">
                                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">图片</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.longText">
                                                    <span class="glyphicon glyphicon-subscript" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">长文</span>


                                                </a>
                                            </li>

                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.tableCustom" style="">
                                                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">表格</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.html">
                                                    <span class="glyphicon glyphicon-header" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">html</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <span class="title">辅助</span>
                                        <ul>
                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.hline" style="">

                                                    <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">横线</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.vline" style="">
                                                    <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">竖线</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.rect">
                                                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">矩形</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="ep-draggable-item" tid="testModule.oval">
                                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">椭圆</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-9 col-md-10">
                            <div class="hiprint-toolbar" style="margin-top:15px;">
                                <ul>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('A3')">A3</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('A4')">A4</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('A5')">A5</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('B3')">B3</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('B4')">B4</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="setPaper('B5')">B5</a></li>

                                    <li><a class="hiprint-toolbar-item"><input type="text" id="customWidth" style="width: 50px;height: 19px;border: 0px;" placeholder="宽/mm" /></a></li>
                                    <li><a class="hiprint-toolbar-item"><input type="text" id="customHeight" style="width: 50px;height: 19px;border: 0px;" placeholder="高/mm" /></a></li>

                                    <li><a class="hiprint-toolbar-item" onclick="setPaper($('#customWidth').val(),$('#customHeight').val())">自定义</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="rotatePaper()">旋转</a></li>
                                    <li><a class="hiprint-toolbar-item" onclick="clearTemplate()">清空</a></li>

                                    <li>
                                        <a class="btn hiprint-toolbar-item " style="color: #fff;background-color: #d9534f;border-color: #d43f3a;" id="A4_preview">快速预览</a>
                                    </li>
                                    <!--
                                    <li>
                                        <a class="btn hiprint-toolbar-item " style="color: #fff;background-color: #d9534f;border-color: #d43f3a;" id="A4_preview_batch2">多模板批量预览</a>
                                    </li>
                                    -->
                                    <li>
                                        <a id="A4_directPrint" class="btn hiprint-toolbar-item " style="color: #fff;background-color: #d9534f; border-color: #d43f3a;">打印</a>
                                    </li>
                                    <li>
                                        <a id="A4_topdf" class="btn hiprint-toolbar-item " style="color: #fff;background-color: #d9534f;border-color: #d43f3a;">导出pdf</a>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                            <div id="hiprint-printTemplate" class="hiprint-printTemplate" style="margin-top:20px;">

                            </div>
                            <div class="row">
                                <div class="col-sm-offset-5 col-sm-10">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
                                </div>
                            </div>
                            <!--
                            <div style="padding-top:15px;">
                                <button type="button" class="btn btn-primary" id="A4_getJson_toTextarea">生成json到textarea</button>
                            </div>
                            <div class="hinnn-callout hinnn-callout-danger">

                                <p><code>可视化</code>结果以Json的形式存在，用户可以<code>编辑Json</code>实现特殊化操作，如：数据<code>formatter</code>，<code>文本变色</code>,单元格<code>改变背景</code>等。具体请参考文档。</p>
                            </div>
                            <textarea class="form-control" rows="10" id="A4_textarea_json"></textarea>
                            <div style="padding:15px 0;">
                                <button type="button" class="btn btn-danger" id="A4_getHtml_toTextarea">生成html到textarea</button>
                            </div>
                            -->
                            <!--
                            <textarea class="form-control" rows="10" id="A4_textarea_html">

                            </textarea>
                            -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </content>
    <sider class="hinnn-layout-sider" style="">
        <div class="container height-100-per" style="width:250px;">
            <div class="row">
                <div class="col-sm-2" style="position: absolute;top: 0px;right: 0px;">
                    <div id="PrintElementOptionSetting" style="margin-top:10px;"></div>
                </div>
            </div>
        </div>


    </sider>
</layout>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 825px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">打印预览</h4>
            </div>

            <div class="modal-body">
                <button type="button" class="btn btn-danger" id="A4_printByHtml">打印</button>
                <div class="prevViewDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: print-js" />
<script th:src="@{/ajax/libs/hiprint/custom_test/custom-etype-provider.js}"></script>
<script th:src="@{/ajax/libs/hiprint/custom_test/custom-print-json.js}"></script>
<!--导出pdf-->
<script th:src="@{/ajax/libs/hiprint/plugins/jspdf/canvas2image.js}"></script>
<script th:src="@{/ajax/libs/hiprint/plugins/jspdf/jspdf.min.js}"></script>
<script th:src="@{/ajax/libs/hiprint/plugins/jspdf/canvg.min.js}"></script>
<script th:src="@{/ajax/libs/hiprint/plugins/jspdf/html2canvas.min.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "print/manage";
    var hiprintTemplate;
    var customPrintJson = {};
    var printData = {};
    $(document).ready(function () {
        //初始化打印插件
        hiprint.init({
            providers: [new customElementTypeProvider()]
        });
        //hiprint.PrintElementTypeManager.build('.hiprintEpContainer', 'testModule');
        //设置左侧拖拽事件
        hiprint.PrintElementTypeManager.buildByHtml($('.ep-draggable-item'));
        hiprintTemplate = new hiprint.PrintTemplate({
            template: customPrintJson,
            settingContainer: '#PrintElementOptionSetting',
            paginationContainer: '.hiprint-printPagination'
        });
        //打印设计
        hiprintTemplate.design('#hiprint-printTemplate');

        $('#A4_preview').click(function () {
            $('#myModal .modal-body .prevViewDiv').html(hiprintTemplate.getHtml(printData));
            $('#myModal').modal('show')
        });
        /*
        $('#A4_preview_batch2').click(function () {
            $('#myModal .modal-body .prevViewDiv').html(hiprint.getHtml({ templates: [{ template: hiprintTemplate, data: printData, options: {} }, { template: hiprintTemplate, data: printData }] }));
            $('#myModal').modal('show')
        });
        */
        $('#A4_directPrint').click(function () {
            console.log(printData)
            hiprintTemplate.print(printData);
        });
        $('#A4_printByHtml').click(function () {
            hiprintTemplate.printByHtml($('#myModal .modal-body .prevViewDiv'));
        })
        $('#A4_getJson_toTextarea').click(function () {
            $('#A4_textarea_json').html(JSON.stringify(hiprintTemplate.getJson()))
        })
        $('#A4_getHtml_toTextarea').click(function () {
            $('#A4_textarea_html').val(hiprintTemplate.getHtml(printData)[0].outerHTML)
        })
        $('#A4_topdf').click(function () {
            hiprintTemplate.toPdf(printData, '测试导出pdf');
        })
    });

    $('#A4_getJson_toTextarea').on("click",function(){
    })
    //调整纸张
    var setPaper = function (paperTypeOrWidth, height) {
        hiprintTemplate.setPaper(paperTypeOrWidth, height);
    }

    //旋转
    var rotatePaper = function () {
        hiprintTemplate.rotatePaper();
    }
    var clearTemplate = function () {
        hiprintTemplate.clear();
    }

    function submitHandler() {
        if ($.validate.form()) {
            var content = JSON.stringify(hiprintTemplate.getJson());
            $("#content").val(content)
            var data = $("#form-print-add").serializeArray();
            var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            data.push({"name": "status", "value": status});
            $.operate.saveTab(prefix + "/add", data);
        }
    }

</script>



</body>
</html>