<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改设备')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-equipment-edit" th:object="${equipment}">
			<input id="id" name="id"  type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="col-sm-2 control-label ">ip地址：</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="ipAddress" id="ipAddress" th:field="*{ipAddress}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">端口号：</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" placeholder="请输入端口号" name="port" id="port" th:field="*{port}" required >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">所处区域：</label>
				<div class="col-sm-9">
					<select name="type" id="type" th:with="type=${@dict.getType('product_equipment_type')}" class="form-control m-b" data-none-selected-text="请选择"  >
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${dict.dictValue eq equipment.type}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">设备名称：</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="name" id="name" th:field="*{name}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-9">
					<textarea id="remark" name="remark" class="form-control" th:field="*{remark}"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "product/equipment";

		$("#form-equipment-edit").validate({
			onkeyup: false,
			rules:{
				ipAddress: {
					remote: {
						url: prefix + "/check",
						type: "post",
						dataType: "json",
						data: {
							id:function () {
								return $.common.trim($("#id").val());
							} ,
							ipAddress: function () {
								return $.common.trim($("#ipAddress").val());
							}
						},
						dataFilter: function (data, type) {
							return $.validate.unique(data);
						}
					}
				},
				port:{
					digits:true
				}
			},
			messages: {
				"ipAddress": {
					remote: "该产线编码已经存在"
				}
			},
			focusCleanup: true
		});

		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/edit", $('#form-equipment-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
