<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductLineMapper">

    <resultMap type="ProductLine"           id="ProductLineResult">
        <id     property="lineId"           column="line_Id"     />
        <result property="lineCode"         column="line_code"   />
        <result property="lineName"         column="line_name"   />
        <result property="createUserId"     column="create_user_id"   />
        <result property="status"           column="status"      />
        <result property="orderNum"         column="order_num"      />
        <result property="createBy"         column="create_by"   />
        <result property="createTime"       column="create_time" />
        <result property="updateBy"         column="update_by"   />
        <result property="updateTime"       column="update_time" />
        <result property="remark"           column="remark" />

    </resultMap>

    <sql id="selectProductLineVo">
        select line_Id, line_code, line_name,create_user_id, status, create_by, create_time, remark,order_num
		from ml_product_line
    </sql>

    <select id="selectProductLineList" parameterType="ProductLine" resultMap="ProductLineResult">
        <include refid="selectProductLineVo"/>
        where status = 1
            <if test="lineCode != null and lineCode != ''">
                AND line_code like concat('%', #{lineCode}, '%')
            </if>
            <if test="lineName != null and lineName != ''">
                AND line_name like concat('%', #{lineName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
    </select>

    <select id="checkLineCode" parameterType="String" resultMap="ProductLineResult">
        <include refid="selectProductLineVo"/>
        where status = 1 and line_code = #{lineCode}
    </select>

    <select id="selectProductLineById" parameterType="Long" resultMap="ProductLineResult">
        <include refid="selectProductLineVo"/>
        where status = 1 and line_Id = #{lineId}
    </select>

    <update id="updateProductLine" parameterType="ProductLine">
        update ml_product_line
        <set>
            <if test="lineName != null and lineName != ''">line_name = #{lineName},</if>
            <if test="lineCode != null and lineCode != ''">line_code = #{lineCode},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where line_Id = #{lineId}
    </update>


    <delete id="deleteProductLineByIds" parameterType="Long">
        update ml_product_line set status =2 where line_Id in
        <foreach collection="array" item="lineId" open="(" separator="," close=")">
            #{lineId}
        </foreach>
    </delete>


    <insert id="insertProductLine" parameterType="ProductLine">
        insert into ml_product_line(
        <if test="lineCode != null and lineCode != ''">line_code,</if>
        <if test="lineName != null and lineName != ''">line_name,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="createUserId != null and createUserId != ''">create_user_id,</if>
        <if test="status != null">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="lineCode != null and lineCode != ''">#{lineCode},</if>
        <if test="lineName != null and lineName != ''">#{lineName},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="createUserId != null and createUserId != ''">#{createUserId},</if>
        <if test="status != null">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>



</mapper>